<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/character.css">
    <link rel="stylesheet" href="css/frame.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/inGame.css">
    <link rel="stylesheet" href="css/history.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/jsRef.css">
    <link rel="stylesheet" href="css/img.css">
    <title>Ball Avoidance</title>
</head>
<body>
    <div id="wrapper">
        <section id="menu">
            <!-- Game Title -->
            <header>
                <span id="title">Ball Avoidance</span>
            </header>

            <!-- Menu Bar -->
            <article>
                <div class="start"><span>Start</span></div>
                <div class="history"><span>History</span></div>
                <div class="exit"><span><a href="../">Exit</a></span></div>
            </article>
        </section>

        <section id="start" class="none">
            <!-- Survival Time -->
            <header>
                <div class="survival-time"></div>
            </header>

            <!-- Character and Enemies -->
            <main>
                <div id="character"></div>
            </main>

            <nav>
                <button class="pause"><img src="img/pause.png"></button>
            </nav>
        </section>

        <section id="history" class="none">
            <!-- Ranked during session -->
            <header><span>Record History</span></header>

            <!-- Survival Time during session -->
            <article>
                <table>
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Survived Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1st</td>
                            <td>12:07</td>
                        </tr>
                        <tr>
                            <td>2nd</td>
                            <td>8:46</td>
                        </tr>
                        <tr>
                            <td>3rd</td>
                            <td>6:12</td>
                        </tr>
                        <tr>
                            <td>4th</td>
                            <td>4:03</td>
                        </tr>
                        <tr>
                            <td>5th</td>
                            <td>1:59</td>
                        </tr>
                    </tbody>
                </table>

                <button class="home">Home</button>
            </article>
        </section>

        <aside class="js-modal none">
            <div class="modal">
                <div class="pause-box">
                    <p>Pause</p>

                    <div class="buttons">
                        <button class="restart">Restart</button>
                        <button class="home">Home</button>
                    </div>
                </div>
            </div>
            <div class="overlay"></div>
        </aside>

        <footer>
            Copyright 2022. BangDori All rights reserved.
        </footer>
    </div>
</body>
<script src="js/charcater.js"></script>
<script src="js/start.js"></script>
<script src="js/pause.js"></script>
<script src="js/init.js"></script>
</html>