<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/footer.css">
    <title>Loading</title>
</head>
<body>
    <div id="wrapper">
        <div class="noite"></div>
        <div class="constelacao"></div>
        <div class="lua">
            <div class="textura"></div>
        </div>
        <div class="chuvaMeteoro"></div>
        <div class="floresta">
            <img src="https://raw.githubusercontent.com/interaminense/starry-sky/master/src/img/bgTree.png" alt="" />
        </div>
    
        <div class="login-box">
            <form class="login-form"action="index" method="post">
                <p>Hello, Player.</p>
    
                <p>Name: <input id="naming" type="text" value=""/></p>
                <p><button id="join">Join</button></p>
            </form>
        </div>
    
        <footer style="color: white;">
            Copyright 2022. BangDori All rights reserved.
        </footer>
    </div>
</body>
<script src="js/background.js"></script>
<script src="js/join.js"></script>
</html>